/2_cluster.csv
/2_cluster_2f.csv
/Fun
/Inlämning-1 - Shoua.ipynb
/Mall_Customers.csv
/SlutinlämningDel1 - Shoua.ipynb
/SlutinlämningDel1.ipynb
/SlutinlämningDel2 - Shoua.ipynb
/SlutinlämningDel2.ipynb
/SwedishHouse.ipynb
/TotalTitanic.ipynb
/TotalTitanic2.ipynb
/WineQT.csv
/adaboost.ipynb
/archive
/area_price.csv
/boxes.csv
/boxes.ipynb
/cluster_data_1.csv
/create_kluster.py
/demo1.ipynb
/demo2_1.ipynb
/face.csv
/fun.ipynb
/gb_timeseries.ipynb
/grupp
/heart.csv
/heart.ipynb
/hemnet_data_clean.csv
/house_price.csv
/house_price.ipynb
/inlämning-2 - Shoua.ipynb
/inlämning-3 - Shoua.ipynb
/inlämning-4 - Shoua.ipynb
/inlämning-5 - Shoua.ipynb
/iris.csv
/iris.jpg
/linear_svc_example.ipynb
/random_data.csv
/random_data_2.csv
/random_data_3.csv
/random_data_3d.csv
/sjukdom.ipynb
/small_iris.csv
/special_iris.csv
/svc_example.ipynb
/test2.ipynb
/test_sample.csv
/test_sample_2.csv
/timeSeries.ipynb
/train_sample.csv
/train_sample_2.csv
/train_titanic.csv
/venv
/wine_knn.ipynb
/xgb_test_1.py
/xgb_test_2.ipynb
/xgb_wine2.ipynb
/xgboost_test copy.ipynb